@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .button_media {
        width: 160px;
        height: 38px;
    }
    .promo {
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 0;
        }
        &__items {
            margin-top: 45px;
        }
    }
    .title {
        font-size: 28px;
        &_left {
            font-size: 32px;
        }
    }
    .consultation {
        &__descr {
            margin-top: 40px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header {
        flex-direction: column;
        &__logo {
            margin-bottom: 25px;
        }
        &__official {
            font-size: 13px;
            margin-bottom: 25px;
            span {
                font-size: 17px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 33px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__wrapper {
            margin-top: 55px;
            align-items: center;
        }
    }
    .advantages {
        padding: 40px 0 20px 0;
        &__items {
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
        }
        &__item {
            width: 300px;
            margin-bottom: 30px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
        &__text {
            font-size: 20px;
            margin-top: 18px;
        }
        &__p {
            font-size: 15px;
            margin-top: 24px;
        }
    }
    .title {
        &_left {
            font-size: 30px;
        }
    }
    .consultation {
        padding: 50px 0 50px 0;
    }
}

@media (max-width: 425px) {
    .promo {
        &__items {
            justify-content: space-around;
        }
    }
    .title {
        &_left {
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
        form {
            margin: 36px auto 0 auto;
        }
    }
}