.advantages {
    padding: 69px 0 10px 0;
    min-height: 470px;
    background-color: #f6f6f6;
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        width: 245px;
        img {
            margin: 0 auto;
            display: block;
        }
    }
}